*{
    margin: 0;
    padding: 0;
}
body{
    background: #222831;
}
header {
    
        text-align: center;
        color: #393E46;
        font-size: 30px;
}h1{
    text-align: center;
    text-shadow: 0 5px 10px rgb(45, 55, 110);
}button{
    margin: 25px;
    height: 60px;
    width: 120px;
    color: #778899;
}
article{
    margin: 25px;
    font-size: 30px;
}p{
    margin: 25px;
    font-size: 30px;
    color: #483d79;
}
footer{
    font-size: 20px;
    position: absolute;
    top: 720px;
    left: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222831;
    position: absolute;
    top: -10px;
    left: 5px;
}ul{
    display: flex;
}li{
    list-style: none;
    margin: 1rem;
}a{
    text-decoration: none;
    color: #44577c;
    font-size: 18px;
}