body{
    background-color: turquoise;
    color: black;
    padding: 25px;
    font-size: 25px;
}
h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    height: 150px;
}
table tr:not(:first-child) {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }

  table tr:not(:first-child):hover {
    cursor: pointer;
    transition: all 0.25s ease-in-out;  
}
.dark-mode {
    background-color: black;
    color: turquoise;
  }
  p{
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
    margin-left: 20px;
    border-left: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 10px;
    margin-right: 20px;
}